<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imustsz.order.mapper.BizWorkOrderMapper">
    
    <resultMap type="BizWorkOrder" id="BizWorkOrderResult">
        <result property="id"    column="id"    />
        <result property="workOrderCode"    column="work_order_code"    />
        <result property="workOrderQuantity"    column="work_order_quantity"    />
        <result property="craftCode"    column="craft_code"    />
        <result property="craftVersion"    column="craft_version"    />
        <result property="status"    column="status"    />
        <result property="processCode"    column="process_code"    />
        <result property="processName"    column="process_name"    />
        <result property="dispatchQuantity"    column="dispatch_quantity"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="guideMapUrl"    column="guide_map_url"    />
        <result property="workerCode"    column="worker_code"    />
        <result property="workerName"    column="worker_name"    />
    </resultMap>

    <sql id="selectBizWorkOrderVo">
        select id, work_order_code, work_order_quantity, craft_code, craft_version, status, process_code, process_name, dispatch_quantity, start_time, end_time, guide_map_url, worker_code, worker_name from biz_work_order
    </sql>

    <select id="selectBizWorkOrderList" parameterType="BizWorkOrder" resultMap="BizWorkOrderResult">
        <include refid="selectBizWorkOrderVo"/>
        <where>  
            <if test="workOrderCode != null  and workOrderCode != ''"> and work_order_code = #{workOrderCode}</if>
            <if test="workOrderQuantity != null "> and work_order_quantity = #{workOrderQuantity}</if>
            <if test="craftCode != null  and craftCode != ''"> and craft_code = #{craftCode}</if>
            <if test="craftVersion != null  and craftVersion != ''"> and craft_version = #{craftVersion}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="processCode != null  and processCode != ''"> and process_code = #{processCode}</if>
            <if test="processName != null  and processName != ''"> and process_name like concat('%', #{processName}, '%')</if>
            <if test="dispatchQuantity != null "> and dispatch_quantity = #{dispatchQuantity}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="guideMapUrl != null  and guideMapUrl != ''"> and guide_map_url = #{guideMapUrl}</if>
            <if test="workerCode != null  and workerCode != ''"> and worker_code = #{workerCode}</if>
            <if test="workerName != null  and workerName != ''"> and worker_name like concat('%', #{workerName}, '%')</if>
        </where>
    </select>
    
    <select id="selectBizWorkOrderById" parameterType="Long" resultMap="BizWorkOrderResult">
        <include refid="selectBizWorkOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizWorkOrder" parameterType="BizWorkOrder" useGeneratedKeys="true" keyProperty="id">
        insert into biz_work_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workOrderCode != null">work_order_code,</if>
            <if test="workOrderQuantity != null">work_order_quantity,</if>
            <if test="craftCode != null">craft_code,</if>
            <if test="craftVersion != null">craft_version,</if>
            <if test="status != null">status,</if>
            <if test="processCode != null">process_code,</if>
            <if test="processName != null">process_name,</if>
            <if test="dispatchQuantity != null">dispatch_quantity,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="guideMapUrl != null">guide_map_url,</if>
            <if test="workerCode != null">worker_code,</if>
            <if test="workerName != null">worker_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workOrderCode != null">#{workOrderCode},</if>
            <if test="workOrderQuantity != null">#{workOrderQuantity},</if>
            <if test="craftCode != null">#{craftCode},</if>
            <if test="craftVersion != null">#{craftVersion},</if>
            <if test="status != null">#{status},</if>
            <if test="processCode != null">#{processCode},</if>
            <if test="processName != null">#{processName},</if>
            <if test="dispatchQuantity != null">#{dispatchQuantity},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="guideMapUrl != null">#{guideMapUrl},</if>
            <if test="workerCode != null">#{workerCode},</if>
            <if test="workerName != null">#{workerName},</if>
         </trim>
    </insert>

    <update id="updateBizWorkOrder" parameterType="BizWorkOrder">
        update biz_work_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="workOrderCode != null">work_order_code = #{workOrderCode},</if>
            <if test="workOrderQuantity != null">work_order_quantity = #{workOrderQuantity},</if>
            <if test="craftCode != null">craft_code = #{craftCode},</if>
            <if test="craftVersion != null">craft_version = #{craftVersion},</if>
            <if test="status != null">status = #{status},</if>
            <if test="processCode != null">process_code = #{processCode},</if>
            <if test="processName != null">process_name = #{processName},</if>
            <if test="dispatchQuantity != null">dispatch_quantity = #{dispatchQuantity},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="guideMapUrl != null">guide_map_url = #{guideMapUrl},</if>
            <if test="workerCode != null">worker_code = #{workerCode},</if>
            <if test="workerName != null">worker_name = #{workerName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizWorkOrderById" parameterType="Long">
        delete from biz_work_order where id = #{id}
    </delete>

    <delete id="deleteBizWorkOrderByIds" parameterType="String">
        delete from biz_work_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getWorkOrderVOList" resultType="com.imustsz.cilent.domain.vo.WorkOrderVO">
        select process_name, process_code, work_order_code, craft_code, craft_version, craft_name, status, start_time, end_time, worker_code, worker_name, algorithm_code, algorithm_name, algorithm_version
        FROM (select DISTINCT bp.name process_name,
                              a.work_order_code,
                              a.craft_code,
                              a.version craft_version,
                              a.cname craft_name,
                              a.start_time,
                              a.end_time,
                              a.worker_name,
                              a.worker_code,
                              a.process_code,
                              a.status
              from biz_process bp
                       join(select wo.*, bc.id cid, bc.version, bc.`name` cname
                            from biz_work_order wo
                                     join biz_craft bc on wo.craft_code = bc.`code`) a on bp.craft_id = a.cid) t1
                 JOIN (SELECT bp.algorithm_code, ba.`name` algorithm_name, ba.version algorithm_version, bp.`code`
                       FROM biz_algorithm ba
                                JOIN biz_process bp on ba.`name` = bp.algorithm_code) t2 on t1.process_code = t2.code
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>