<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imustsz.craft.mapper.BizCraftFilterMapper">

    <resultMap type="com.imustsz.craft.domain.BizCraftFilter" id="BizCraftFilterResult">
        <result property="id"          column="id"           />
        <result property="productType" column="product_type"  />
        <result property="processName" column="process_name"  />
        <result property="keyword"     column="keyword"       />
        <result property="matchMode"   column="match_mode"    />
        <result property="isEnabled"   column="is_enabled"    />
        <result property="remark"      column="remark"        />
        <result property="createBy"    column="create_by"     />
        <result property="createTime"  column="create_time"   />
        <result property="updateBy"    column="update_by"     />
        <result property="updateTime"  column="update_time"   />
        <result property="isDeleted"   column="is_deleted"    />
    </resultMap>

    <sql id="selectBizCraftFilterVo">
        select id, product_type, process_name, keyword, match_mode, is_enabled, remark,
               create_by, create_time, update_by, update_time, is_deleted
        from biz_craft_filter
    </sql>

    <!-- 分页与条件查询 -->
    <select id="selectBizCraftFilterList" parameterType="com.imustsz.craft.domain.BizCraftFilter" resultMap="BizCraftFilterResult">
        <include refid="selectBizCraftFilterVo"/>
        <where>
            is_deleted = 0
            <!-- 注意：必须使用 productType != null，严禁加 != '' -->
            <if test="productType != null">
                AND product_type = #{productType}
            </if>
            <if test="processName != null and processName != ''">
                AND process_name like concat('%', #{processName}, '%')
            </if>
            <if test="keyword != null and keyword != ''">
                AND keyword like concat('%', #{keyword}, '%')
            </if>
            <if test="matchMode != null">
                AND match_mode = #{matchMode}
            </if>
            <if test="isEnabled != null">
                AND is_enabled = #{isEnabled}
            </if>
        </where>
        order by create_time desc
    </select>

    <!-- 单条查询 -->
    <select id="selectBizCraftFilterById" parameterType="Integer" resultMap="BizCraftFilterResult">
        <include refid="selectBizCraftFilterVo"/>
        where id = #{id} and is_deleted = 0
    </select>

    <!-- 新增 -->
    <insert id="insertBizCraftFilter" parameterType="com.imustsz.craft.domain.BizCraftFilter" useGeneratedKeys="true" keyProperty="id">
        insert into biz_craft_filter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productType != null">product_type,</if>
            <if test="processName != null and processName != ''">process_name,</if>
            <if test="keyword != null and keyword != ''">keyword,</if>
            <if test="matchMode != null">match_mode,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            is_deleted
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productType != null">#{productType},</if>
            <if test="processName != null and processName != ''">#{processName},</if>
            <if test="keyword != null and keyword != ''">#{keyword},</if>
            <if test="matchMode != null">#{matchMode},</if>
            <if test="isEnabled != null">#{isEnabled},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            0
        </trim>
    </insert>

    <!-- 修改 -->
    <update id="updateBizCraftFilter" parameterType="com.imustsz.craft.domain.BizCraftFilter">
        update biz_craft_filter
        <trim prefix="SET" suffixOverrides=",">
            <if test="productType != null">product_type = #{productType},</if>
            <if test="processName != null and processName != ''">process_name = #{processName},</if>
            <if test="keyword != null and keyword != ''">keyword = #{keyword},</if>
            <if test="matchMode != null">match_mode = #{matchMode},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <!-- 状态切换 -->
    <update id="updateStatus">
        update biz_craft_filter
        set is_enabled = #{isEnabled}, update_by = #{updateBy}, update_time = sysdate()
        where id = #{id}
    </update>

    <!-- 逻辑删除单条 -->
    <update id="deleteBizCraftFilterById" parameterType="Integer">
        update biz_craft_filter set is_deleted = 1, update_time = sysdate() where id = #{id}
    </update>

    <!-- 批量逻辑删除 -->
    <update id="deleteBizCraftFilterByIds" parameterType="Integer">
        update biz_craft_filter set is_deleted = 1, update_time = sysdate() where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>