<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imustsz.craft.mapper.BizStepMapper">
    
    <resultMap type="BizStep" id="BizStepResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="content"    column="content"    />
        <result property="guideMapUrl"    column="guide_map_url"    />
        <result property="processId"    column="process_id"    />
    </resultMap>

    <sql id="selectBizStepVo">
        select id, code, name, content, guide_map_url, process_id from biz_step
    </sql>

    <sql id="selectBizStepVo2">
        select code step_code, name step_name, content step_content, guide_map_url guide_url from biz_step
    </sql>

    <select id="selectBizStepList" parameterType="BizStep" resultMap="BizStepResult">
        <include refid="selectBizStepVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="guideMapUrl != null  and guideMapUrl != ''"> and guide_map_url = #{guideMapUrl}</if>
            <if test="processId != null "> and process_id = #{processId}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
        </where>
    </select>
    
    <select id="selectBizStepById" parameterType="Long" resultMap="BizStepResult">
        <include refid="selectBizStepVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizStep" parameterType="BizStep" useGeneratedKeys="true" keyProperty="id">
        insert into biz_step
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="content != null">content,</if>
            <if test="guideMapUrl != null">guide_map_url,</if>
            <if test="processId != null">process_id,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="remarks != null">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="content != null">#{content},</if>
            <if test="guideMapUrl != null">#{guideMapUrl},</if>
            <if test="processId != null">#{processId},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="remarks != null">#{remarks},</if>
         </trim>
    </insert>

    <update id="updateBizStep" parameterType="BizStep">
        update biz_step
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="content != null">content = #{content},</if>
            <if test="guideMapUrl != null">guide_map_url = #{guideMapUrl},</if>
            <if test="processId != null">process_id = #{processId},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizStepById" parameterType="Long">
        delete from biz_step where id = #{id}
    </delete>

    <delete id="deleteBizStepByIds" parameterType="String">
        delete from biz_step where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectStepByProcessId" resultType="com.imustsz.cilent.domain.vo.StepVO">
        <include refid="selectBizStepVo2"/>
        where process_id = #{processId}
    </select>

    <select id="selectBizStepByStepCodeAndProcessId" resultMap="BizStepResult">
        <include refid="selectBizStepVo"/>
        where code = #{stepCode} and process_id = #{processId}
    </select>
</mapper>