<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imustsz.craft.mapper.CraftMapper">
    
    <resultMap type="Craft" id="CraftResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="version"    column="version"    />
        <result property="desc"    column="desc"    />
        <result property="productionOrderNo" column="production_order_no" />
    </resultMap>

    <sql id="selectCraftVo">
        select id, production_order_no, code, name, version, status, `desc` from biz_craft
    </sql>

    <select id="selectCraftList" parameterType="Craft" resultMap="CraftResult">
        <include refid="selectCraftVo"/>
        <where>
            <if test="productionOrderNo != null">and production_order_no like concat('%', #{productionOrderNo}, '%')</if>
            <if test="code != null  and code != ''"> and code like concat('%', #{code}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="version != null  and version != ''"> and version like concat('%', #{version}, '%') </if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="desc != null  and desc != ''"> and `desc` like concat('%', #{desc}, '%')</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectCraftById" parameterType="Long" resultMap="CraftResult">
        <include refid="selectCraftVo"/>
        where id = #{id}
    </select>

    <insert id="insertCraft" parameterType="Craft" useGeneratedKeys="true" keyProperty="id">
        insert into biz_craft
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productionOrderNo != null">production_order_no,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="version != null">version,</if>
            <if test="desc != null">`desc`,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productionOrderNo != null">#{productionOrderNo},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="version != null">#{version},</if>
            <if test="desc != null">#{desc},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCraft" parameterType="Craft">
        update biz_craft
        <trim prefix="SET" suffixOverrides=",">
            <if test="productionOrderNo != null">production_order_no = #{productionOrderNo},</if>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="version != null">version = #{version},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCraftById" parameterType="Long">
        delete from biz_craft where id = #{id}
    </delete>

    <delete id="deleteCraftByIds" parameterType="String">
        delete from biz_craft where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCraftByCodeAndVersion" resultMap="CraftResult">
        <include refid="selectCraftVo"/>
        where code = #{code} and version = #{version}
    </select>

    <update id="changeCraftStatus">
        update biz_craft set status = #{status} where id = #{id}
    </update>

    <select id="selectCraftByCode" resultType="com.imustsz.craft.domain.Craft">
        <include refid="selectCraftVo" />
        where code = #{code}
    </select>

    <select id="getCodeList" resultType="java.lang.String">
        select distinct code from biz_craft
    </select>

    <select id="getVersionByCode" resultType="java.lang.String">
        select version from biz_craft where code = #{code}
    </select>

    <select id="selectCraftByProductionOrderNo" resultMap="CraftResult">
        <include refid="selectCraftVo"/>
        where production_order_no = #{productionOrderNo}
    </select>
</mapper>