<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imustsz.craft.mapper.CraftMapper">
    
    <resultMap type="Craft" id="CraftResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="version"    column="version"    />
        <result property="desc"    column="desc"    />
    </resultMap>

    <sql id="selectCraftVo">
        select id, code, version, `desc` from biz_craft
    </sql>

    <select id="selectCraftList" parameterType="Craft" resultMap="CraftResult">
        <include refid="selectCraftVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="desc != null  and desc != ''"> and `desc` = #{desc}</if>
        </where>
    </select>
    
    <select id="selectCraftById" parameterType="Long" resultMap="CraftResult">
        <include refid="selectCraftVo"/>
        where id = #{id}
    </select>

    <insert id="insertCraft" parameterType="Craft" useGeneratedKeys="true" keyProperty="id">
        insert into biz_craft
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="version != null">version,</if>
            <if test="desc != null">`desc`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="version != null">#{version},</if>
            <if test="desc != null">#{desc},</if>
         </trim>
    </insert>

    <update id="updateCraft" parameterType="Craft">
        update biz_craft
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="version != null">version = #{version},</if>
            <if test="desc != null">`desc` = #{desc},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCraftById" parameterType="Long">
        delete from biz_craft where id = #{id}
    </delete>

    <delete id="deleteCraftByIds" parameterType="String">
        delete from biz_craft where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>