<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imustsz.process.mapper.BizProcessRecordMapper">
    
    <resultMap type="BizProcessRecord" id="BizProcessRecordResult">
        <result property="id"    column="id"    />
        <result property="workOrderCode"    column="work_order_code"    />
        <result property="stepCode"    column="step_code"    />
        <result property="stepName"    column="step_name"    />
        <result property="stepStatus"    column="step_status"    />
        <result property="imagePath"    column="image_path"    />
        <result property="data"    column="data"    />
        <result property="submitTime"    column="submit_time"    />
    </resultMap>

    <sql id="selectBizProcessRecordVo">
        select id, work_order_code, step_code, step_name, step_status, image_path, data, submit_time from biz_process_record
    </sql>

    <select id="selectBizProcessRecordList" parameterType="BizProcessRecord" resultMap="BizProcessRecordResult">
        <include refid="selectBizProcessRecordVo"/>
        <where>  
            <if test="workOrderCode != null  and workOrderCode != ''"> and work_order_code = #{workOrderCode}</if>
            <if test="stepCode != null "> and step_code = #{stepCode}</if>
            <if test="stepName != null "> and step_name = #{stepName}</if>
            <if test="stepStatus != null  and stepStatus != ''"> and step_status = #{stepStatus}</if>
            <if test="imagePath != null  and imagePath != ''"> and image_path = #{imagePath}</if>
            <if test="data != null  and data != ''"> and data = #{data}</if>
            <if test="submitTime != null "> and submit_time = #{submitTime}</if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
            <if test="createTime != null and createTime != ''"> and update_time = #{updateTime}</if>
            <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="remark != null and remark != ''"> and remark = #{remark}</if>
        </where>
    </select>
    
    <select id="selectBizProcessRecordById" parameterType="Long" resultMap="BizProcessRecordResult">
        <include refid="selectBizProcessRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizProcessRecord" parameterType="BizProcessRecord" useGeneratedKeys="true" keyProperty="id">
        insert into biz_process_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workOrderCode != null">work_order_code,</if>
            <if test="stepCode != null">step_code,</if>
            <if test="stepName != null">step_name,</if>
            <if test="stepStatus != null">step_status,</if>
            <if test="imagePath != null">image_path,</if>
            <if test="data != null">data,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="remarks != null">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workOrderCode != null">#{workOrderCode},</if>
            <if test="stepCode != null">#{stepCode},</if>
            <if test="stepName != null">#{stepName},</if>
            <if test="stepStatus != null">#{stepStatus},</if>
            <if test="imagePath != null">#{imagePath},</if>
            <if test="data != null">#{data},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="remarks != null">#{remarks},</if>
         </trim>
    </insert>

    <update id="updateBizProcessRecord" parameterType="BizProcessRecord">
        update biz_process_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="workOrderCode != null">work_order_code = #{workOrderCode},</if>
            <if test="stepCode != null">step_code = #{stepCode},</if>
            <if test="stepName != null">step_name = #{stepName},</if>
            <if test="stepStatus != null">step_status = #{stepStatus},</if>
            <if test="imagePath != null">image_path = #{imagePath},</if>
            <if test="data != null">data = #{data},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizProcessRecordById" parameterType="Long">
        delete from biz_process_record where id = #{id}
    </delete>

    <delete id="deleteBizProcessRecordByIds" parameterType="String">
        delete from biz_process_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>